/* #region RESET */
a,
address,
body,
button,
header,
main,
footer,
nav,
section,
h1,
h2,
h3,
input,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  border: none;
  cursor: pointer;
  color: currentColor;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

textarea {
  display: block;
}
/* #endregion */

/* #region REUSABLE */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion */

html {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --card-shadow: 0px 1px 1px 0px rgb(46, 47, 66, 0.08),
    0px 2px 1px 0px rgb(46, 47, 66, 0.08);
  --hover-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0 auto;
  /* max-width: 1440px; */
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: var(--color-slate);
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

/* #region HEADER */
.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  color: var(--color-navy-blue);
}

.nav-items {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.header .logo {
  margin-right: 76px;
}

.logo-studio {
  color: var(--color-navy-blue);
}

.nav-link {
  padding: 24px 0;
  font-weight: 500;
  transition: color var(--hover-transition);
}

.nav-link.active {
  position: relative;
  color: var(--color-ocean);
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-ocean);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-ocean);
}

.address {
  font-style: normal;
}

.address-items {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-link {
  padding: 24px 0;
  transition: color var(--hover-transition);
}

.address-link:hover,
.address-link:focus {
  color: var(--color-ocean);
}
/* #endregion */

.section {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.section-subtitle {
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-navy-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region HERO */
.hero {
  margin-inline: auto;
  max-width: 1440px;
  padding: 188px 0;
  color: #ffffff;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-title {
  margin-inline: auto;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-size: 56px;
  font-weight: 700;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--color-iris);
  transition: background-color var(--hover-transition);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: var(--color-ocean);
}
/* #endregion */

/* #region ADVANTAGES */
.advantages-items {
  display: flex;
  gap: 24px;
}

.advantages-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.advantages-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  height: 112px;
  background-color: var(--color-cloud);
}

.advantages-icon {
  width: 64px;
}
/* #endregion */

/* #region TEAM */
.team {
  background-color: var(--color-cloud);
}

.persons {
  display: flex;
  gap: 24px;
}

.person {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.person-photo {
  width: 100%;
}

.person-data {
  padding: 32px 0;
}

.person-name,
.person-job {
  text-align: center;
}

.person-job {
  margin-bottom: 8px;
}

.person-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.person-icon-item {
  width: 40px;
  height: 40px;
}

.person-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  transition: background-color var(--hover-transition);
}

.person-icon-link:hover,
.person-icon-link:focus {
  background-color: var(--color-ocean);
}

.person-icon {
  width: 16px;
  fill: var(--color-cloud);
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
/* #endregion */

/* #region PORTFOLIO */
.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow var(--hover-transition);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  width: 100%;
}

.portfolio-item-data {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.portfolio-img-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  transform: translateY(100%);
  transition: transform var(--hover-transition);
}

.portfolio-item:hover .portfolio-img-overlay {
  transform: translateY(0);
}
/* #endregion */

/* #region CONTACT FORM */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--hover-transition),
    visibility var(--hover-transition);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--hover-transition);
}

.contact-form {
  --input-border: 1px solid rgba(46, 47, 66, 0.4);
}

.contact-form-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background-color: var(--color-cornflower);
  transition: background-color var(--hover-transition),
    border var(--hover-transition);
}

.contact-form-btn-close svg {
  fill: var(--nave-blue);
  transition: fill var(--hover-transition);
}

.contact-form-btn-close:hover,
.contact-form-btn-close:focus {
  border: none;
  background-color: var(--color-ocean);
}

.contact-form-btn-close:hover svg,
.contact-form-btn-close:focus svg {
  fill: #fff;
}

.contact-form-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-navy-blue);
  text-align: center;
}

.contact-form-group {
  margin-bottom: 8px;
}

.contact-form-label {
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  transition: border-color var(--hover-transition), fill var(--hover-transition);
}

.contact-form-input-group {
  position: relative;
  display: flex;
  gap: 4px;
  transition: border-color var(--hover-transition);
}

.contact-form-input {
  outline: transparent;
  border: var(--input-border);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: inherit;
  line-height: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  transition: border-color var(--hover-transition);
}

.contact-form-input:focus {
  border-color: var(--color-iris);
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--color-iris);
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--color-navy-blue);
  transition: fill var(--hover-transition);
}

.contact-form-comment-group {
  margin-bottom: 16px;
}

.contact-form-input-comment {
  outline: transparent;
  border: var(--input-border);
  border-radius: 4px;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color var(--hover-transition);
}

.contact-form-input-comment:focus {
  border-color: var(--color-iris);
}

.contact-form-accept-group {
  margin-bottom: 24px;
}

.contact-form-checkbox:checked + label .contact-form-custom-checkbox {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-cloud);
}

.contact-form-custom-checkbox {
  display: inline-flex;
  margin-right: 8px;
  border: var(--input-border);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  background-color: inherit;
  fill: transparent;
  cursor: pointer;
  transition: background-color var(--hover-transition),
    border var(--hover-transition), fill var(--hover-transition);
}

.contact-form-accept-label {
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  cursor: pointer;
}

.contact-form-terms-link {
  line-height: 1.33;
  color: var(--color-iris);
  text-decoration: underline;
}

.contact-form-submit {
  margin-inline: auto;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 66.5px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--hover-transition);
}

.contact-form-submit:hover,
.contact-form-submit:focus {
  background-color: var(--color-ocean);
}
/* #endregion */

/* #region ROOTER */
.footer {
  padding: 100px 0;
  background-color: var(--color-navy-blue);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-webstudio {
  margin-right: 120px;
  width: 264px;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer .logo-studio {
  color: var(--color-cloud);
}

.footer-text {
  width: 264px;
  color: var(--color-cloud);
}

.footer-social-media {
  width: 208px;
  margin-right: 80px;
}

.footer-social-media-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  transition: background-color var(--hover-transition);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  width: 24px;
  fill: var(--color-cloud);
}

.subscribe {
  color: #fff;
}

.subscribe-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  padding: 7px 16px;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: currentColor;
  background-color: inherit;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  color: currentColor;
}

.subscribe-input:focus {
  outline: none;
}

.subscribe-submit {
  border-radius: 4px;
  min-width: 165px;
  padding: 8px 24px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: var(--color-iris);
  transition: background-color var(--hover-transition);
}

.subscribe-submit:hover,
.subscribe-submit:focus {
  background-color: var(--color-ocean);
}

.subscribe-icon-send {
  margin-left: 16px;
}
/* #endregion */
